@model hotel_santa_ursula_II.Models.Pago
@{
    ViewData["Title"] = "Yape";
}
<head>  
   <script src="https://kit.fontawesome.com/c239d89a06.js" crossorigin="anonymous"></script>      
</head>

<body>
   <!--Inicio Banner-->
<div class="hero-wrap hero-wrap-2" style="background-image: url('../images/banner1.jpg'); background-attachment:fixed; height: 200px;">
      <div class="overlay" style="height: 200px;" ></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true" style="height: 200px;">
           <div class="col-md-8 ftco-animate text-center">          
             <h1 class="mb-3 bread">Pago con Yape</h1>
            </div>
          </div>
       </div>
</div>    
<br>
<br>
<!--Fin Banner-->

<!--<div class="col-lg-6" style="float:none;margin:auto;">-->
    
    <div style="height: 200px;">
    <label class="control-label">Nombre</label>
                <input  class="form-control rounded-pill" />
                <br>
    <label class="control-label">Adjuntar Captura de Pago</label>
                <input  class="form-control rounded-pill" />
                <br>
                <button type="submit" class="button">Enviar</button>    

            <!--<form asp-controller="Carrito" asp-action="ContactPDF">
                  <button type="submit" class="button" id="boton">Generar Comprobante</button>                 

            </form>
            <a asp-action="Documento" target="_blank">GENERAR COMPROBANTE PDF</a>-->
            
        </div>
    </body>